{% extends "base.html" %}
{% block content %}
	{% if error %}
		{% if error == "EMAIL_NOT_FOUND" %}
			<p>Your email address was not found in our database!  Please try again.</p>
		{% else %}
			<p>An Error occurred: {{ error }}</p>
		{% endif %}
	{% elif success %}
		<p>Your password has been reset! Please check your email.</p>
	{% else %}
		<p>Please provide your email address to reset your password.</p>
	{% endif %}
	{% if form %}
		<form action="/users/resetpassword" method="post" >{% csrf_token %}
		<ul>
		{{ form.as_ul }}
		</ul>
		<button type="submit">Reset</button>
		</form>
	{% endif %}
{% endblock %}